<p>
    Api end points
<ul>
    <li>Get all vendors - /api/vendors, GET</li>
    <li>Get a vendor - /api/vendors/id, GET</li>
    <li>Get a selected list of vendors - /api/vendors?campus=OAU&Category=Sports&keyWord=Bag, GET</li>
    <li>Add Vendor - /api/vendors?Vendor={{Vendor details}}, POST</li>
    <li>Edit Vendor - /api/vendors/id, PUT</li>
    <li>Delete Vendor - /api/vendors/id, DELETE</li>
</ul>
</p>