.Main_nav {
	margin-left: auto;
}

.Mobile_menu {
	display: none;
}

.Main_nav__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.Mobile_nav__list {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.Main_nav__list_item,
.Mobile_nav__list_item {
	margin: 10px 40px 0 40px;
	font-size: 0.9rem;
}

.Main_nav__list_item:nth-child(3) {
	margin-top: 0;
}

.Mobile_nav__list_item:nth-child(3) {
	font-size: 0.8rem;
	width: 100%;
}

.Main_nav__list_item a::after,
.Mobile_nav__list_item a::after {
	content: "";
	display: block;
	margin-top: 3px;
	width: 0%;
	border-bottom: 2px solid var(--green);
	transition: all 0.5s;
}

.Main_nav__list_item a:hover,
.Main_nav__list_item a:focus,
.Main_nav__list_item a:active,
.Mobile_nav__list_item a:hover,
.Mobile_nav__list_item a:focus,
.Mobile_nav__list_item a:active {
	color: var(--green);
}

.Main_nav__list_item a:hover::after,
.Main_nav__list_item a:focus::after,
.Main_nav__list_item a:active::after,
.Mobile_nav__list_item a:hover::after,
.Mobile_nav__list_item a:focus::after,
.Mobile_nav__list_item a:active::after {
	width: 100%;
}

.Mobile_nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 45vw;
	height: 100vh;
	background-color: #fff;
	padding-top: 30px;
	padding-right: 40px;
	z-index: 10;
	transition: all 0.5s;
}

.Mobile_nav .Logo {
	margin: 15px;
}

@media only screen and (max-width: 500px) {
	.Main_nav__list {
		display: none;
	}

	.Mobile_menu {
		display: block;
	}
}
