/* Root Variables*/
:root {
	--green: #3fca89;
	--font: "Noto Sans HK", sans-serif;
}

body {
	background: white;
	font-family: var(--font);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--green);
}

a:hover,
a:active,
a:focus {
	border-bottom: 1px solid var(--green);
}

.page {
	background: #e2e2e5;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	place-content: center;
	width: 100%;
	overflow: auto;
}
.container {
	display: flex;
	margin: 0 auto;
	width: 60%;
}
.left {
	background: var(--green);
	height: calc(100% - 40px);
	top: 20px;
	position: relative;
	width: 50%;
	color: #fff;
}
.login {
	font-size: 2rem;
	font-weight: 900;
	margin: 50px 40px 40px;
}
.eula {
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	margin: 40px;
}
.right {
	background: #fff;
	box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
	color: #000;
	position: relative;
	width: 50%;
	height: fit-content;
}
.form {
	margin: 40px;
}

label {
	display: block;
	font-size: 0.9rem;
	height: 16px;
	margin-top: 20px;
	margin-bottom: 5px;
}

input,
.input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--green);
	color: #000;
	font-size: 0.8rem;
	height: 30px;
	line-height: 30px;
	outline: none !important;
	width: 100%;
}

input::-moz-focus-inner {
	border: 0;
}

button,
.btn {
	padding: 0.8rem;
	border: none;
	outline: none;
	background-color: var(--green);
	color: #fff;
	font-family: inherit;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

button:active,
button:hover,
button:focus,
.btn:active,
.btn:hover,
.btn:focus {
	color: var(--green);
	background-color: #fff;
}

#submit {
	margin: 15px 0;
}

.form p {
	font-size: 0.8rem;
}

@media (max-width: 767px) {
	.left {
		height: 100%;
		left: 20px;
		width: calc(100% - 40px);
		max-height: 270px;
	}
	.right {
		flex-shrink: 0;
		height:fit-content;
		width: 100%;
		margin-bottom: 70px;
	}
	.container {
		flex-direction: column;
		height: 630px;
		width: 320px;
	}
	.page {
		height: auto;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}
